<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/StyleSheet.css">
           <link rel="icon" href="img/cloudy.png">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
<div class = "maincontainer">    {{>navbar}}
    
    <div style="display: flex; flex-direction: row; font-size: x-large ;  justify-content: space-between;">
    <div style="float: right;" ><img style="vertical-align: middle;" class = "potrait" src="img/my1.png" alt="My1" ><span bak style="text-align: center;">Huzaifa Malik</span></img></div>
    
    <div style="flex-direction:  row; font-size: medium;margin-top: 34vh; color: green;" >
        <h2>Email : huzaifamalik3216@gmail.com</h2>
        <h2>Ph No. : 0302-5425117</h2>
    </div>
    </div>
    </div>
    {{>footer}}
</body>
</html>