<footer>
    
        <ul >
            <li>
                Created by Huzaifa Malik...
            </li>
            <li>
                Depends on Accua wether
            </li>
        </ul>
    
</footer>
<style>
  footer ul {
        display: flex;
        min-width: fit-content;
        list-style: none;
        font-size: 20px;
    }
    footer li{
        margin-right: 30px;
    }
</style>