<nav class="navigationWrapper">
  <div class="logoWrapper">
    
    <span class="logo"><img src="img/cloudy.png" alt="LOGO" class="iconlogo"></span>
  </div>
  <div class="quote">
    <span class="stylish">Trioni</span>
    <span class="innertext">Weather feturing company   </span>
  </div>
  <div>
     <ul class="navigation">
    <li class="parent"><a class="link" href="/">Home</a></li>
    <li class="parent"><a class="link" href="/about">About</a></li>    
    <li class="parent"><a class="link" href="/contact">Contact</a></li>
  </ul>
  </div>
 
</nav>

